
@{
    ViewBag.Title = "Index";
}

<h2>@Model.GetType().GetGenericArguments()[0].Name Setting</h2>
<br />

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <thead>
        <tr>
            @foreach (var property in Model.GetType().GetGenericArguments()[0].GetProperties())
            {
                if (@property.Name == "Id")
                {
                    @Html.Hidden("Id")
                }
                else
                {
                    <th>@property.Name</th>
                }
            }
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @foreach (var property in item.GetType().GetProperties())
            {
                if (@property.Name == "Id")
                {
                    @Html.Hidden("Id")
                }
                else
                {
                    <td>@property.GetValue(item)</td>
                }
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
        }
    </tbody>
</table>
